---
---
@import "variables";

.introduction {
  $description-width: 67%;
  $picture-width: 33%;
  margin-bottom: 70px;
  display: flex;
  // margin-bottom:$bottom-margin;
  position: relative;

  @include mobile {
    flex-direction: column;
    margin-bottom:$bottom-margin*2;
  }

  // left
  .profile-picture {
    margin: auto;
    display: block;
    width: $picture-width;

    img {
      max-width: 75%;
      margin-left: 12%;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 5%;
    }

    .me-drawing {
      width: 60%;
      height: 100%;
      transform: rotate(-20deg);
      margin-left: 7%;
      // margin-bottom: 10%;
      -webkit-filter: drop-shadow(-3px 3px $primaryColor);
      filter: drop-shadow(-3px 3px $primaryColor);

      &:hover {
        transform: rotate(-15deg);
      }
    }

    .arrow {
      position: relative;
      width: 10%;
      margin-top: -35%;
    }

    .picture-description {
      position: relative;
      width: 20%;
      text-align: center;
      // top: -216px;
      // left: 30px;
      margin: 10% auto;
      display: inline-block;
    }

    .drawing-text {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.4em;
      line-height: 0.4em;
      display: inline-block;
    }
  }

  // right
  .profile-description {
    width: $description-width;
    font-size: 1.5em;
    line-height: 1.7em;
    margin-bottom: 5%;
    text-align: right;
    @include mobile {
      width: 100%;
    }

    select {
      font-size: 80%;
      box-shadow: 3px 3px 0px $primaryColor;
    }
    .width {
      font-size: 80%;
      display: none;
    }

    .contract {
      font-weight: bold;
      font-size: 120%;
    }
  }
}

.posts {
  .posts-title {
    color: $textColor;
    margin-bottom:1em;
    background: $primaryColor;
    display: inline-block;
    text-align: left;
    padding: 0 0.2em;
  }

  .post {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
    margin-bottom: $bottom-margin;
    @include mobile {
      margin-bottom: $bottom-margin*2;
    }

    &:hover .post-cover-icon {
    }

    $post-offset-top: 21px;
    $post-offset-left: 30px;
    $children-horizontal-padding: 5%;
    //left
    .post-cover {
      padding-right: $children-horizontal-padding;
      margin: auto;
      $index-width: 2.9em;
      @include mobile {
        width: 100%;
        padding-right: 0;
      }

      .index {
        font-size: 20px;
        position: relative;
        left: $post-offset-left;
        z-index: 10;
        display: inline-block;
        @include mobile {
          display: block;
          top: 10px;
        }
        padding-left: 0.2em;
        text-align: center;
        vertical-align: middle;
        width: $index-width;
        height: $index-width;
        line-height: $index-width;
        background: $textColor;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      .post-cover-picture-container {
        position: relative;
        .video-image {
          cursor: zoom-in;
        }
        .post-cover-picture {
          position: relative;
          top: -$index-width/1.7;
          left: 0;
          width: 100%;
        }

        .post-cover-icons-container {
          position: absolute;
          bottom: 2.4em;
          left: 0.7em;
          @include mobile {
            bottom:0;
            top: -5%;
            left: 77%;
          }
          z-index: 9;
          display: flex;
          //width: 100%;

          .post-cover-icon {
            width: 7%;
            margin-right: 3%;
            img {

            }
            // padding-right: 10%;
          }
        }

      }

      .date {
        position: relative;
        // bottom: $post-offset-top;
        right: 13px;
        @include mobile {
          right: 2px;
        }
        float: right;
        z-index: 10;
        top: -2em;
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: bolder;
        color: $textColor;
        display: inline-block;
        padding: 0 0.2em;

        background-color:$backgroundColor;
      }
    }

    // right
    .post-description {
      // padding-left: $children-horizontal-padding;
      width: 80%;
      @include mobile {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      text-align: justify;
      * {
        margin: auto 0;
        @include mobile {
          margin-bottom: 5%;
        }
      }

      .title {
        display: inline;
        margin-left: 3%;
        margin-right: auto;
        padding-left: 2%;
        padding-right: 2%;
        background-color:$textColor;
      }

      :last-child {
        padding-bottom: 0;
      }

      .credits {
        margin-left: 5%;
        font-style: italic;
      }
    }
  }
  .post:last-child {
    padding-bottom: 1em;
  }
}

// #video-overlay-container {
//   position: fixed;
//   top: 0; left: 0; bottom: 0; right: 0;
//   margin: 0;
//   padding: 2% 0;
//   background: rgba(0, 0, 0, 0.8);
//   display: none;
//   width: 100%;
//   z-index: 100;
//   #video-overlay {
//     height: 100%;
//     position: fixed;
//     left: 50%;
//     top: 0;
//     transform: translateX(-50%);
//   }
// }
//
// .vp-player-layout {
//   border: 10px solid $textColor;
// }
