<div class="footer">
    <div class="footer-description" target="_blank">{{ site.description }}</div>
    <div class="footer-contact">Get in touch on <a href="https://twitter.com/{{ site.footer-links.twitter }}" class="footer-text">twitter</a>, <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank" class="footer-text">linkedIn</a>,
      or via my email : <a href="mailto:{{ site.footer-links.email }}" target="_blank">maximilien.jourdain@gmail.com</a> ✌🏽</div>
    <!-- <div class="bottom-point">•</div> -->
</div>
