<header>
  <a href="{{ site.baseurl }}/">
    <h1 class="site-name outline-text">{{ site.name }}</h1>
  </a>

  <nav class="header-links">
    <a class="header-twitter" href="https://twitter.com/{{ site.footer-links.twitter }}" target="_blank"><img src="/assets/images/twitter-logo.png" alt="Twitter"></a>
    <a class="header-twitter" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><img src="/assets/images/linkedin-logo.png" alt="LinkedIn"></a>
    <a class="header-mail" href="mailto:{{ site.footer-links.email }}" target="_blank"><img src="/assets/images/mail-logo.png" alt="Mail"></a>

  </nav>
</header>
